<div class="col-md-3">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="searchName()">
            Suche
          </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h1 class="text-muted">Kundenliste</h1>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let customer of customers; let i = index" [class.active]="i == currentIndex" (click)="retriveDetails(customer, i)">
                {{ customer.name }}
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <div *ngIf="currentCustomer">
            <h1 class="text-muted">Kunde</h1>
            <div>
                <label><strong>Name:</strong></label> {{ currentCustomer.name }}
            </div>
            <div>
                <label><strong>Adresse:</strong></label> {{ currentCustomer.billingAddress }}
            </div>
            <div>
                <label><strong>Ansprechpartner für Rechnung:</strong></label> {{ currentCustomer.contactPerson }}
            </div>
            <div>
                <label><strong>Ansprechpartner Email:</strong></label> {{ currentCustomer.email }}
            </div>
            <div>
                <label><strong>Ansprechpartner Handynummer:</strong></label> {{ currentCustomer.mobileNumber }}
            </div>

            <div class="btn-group-vertical">
                <button class="m-2 btn btn-lg btn-success btn-fix-size" routerLink="/customers/{{ currentCustomer._id }}">
                Vertragsdetail hinzufügen
            </button>
                <button class="m-2 btn btn-lg btn-warning btn-fix-size" routerLink="/update-customer/{{ currentCustomer._id }}">
                Kunde bearbeiten
            </button>
                <button class="m-2 btn btn-lg btn-danger btn-fix-size" (click)="deleteCustomer()">
            Löschen
          </button>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div *ngIf="customerDetails">
            <h1 class="text-muted">Standort</h1>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let customerdet of customerDetails; let i = index" [class.active]="i == currentIndexDetail" (click)="retriveBuildings(customerdet, i)">
                    {{ customerdet.location }}
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <div *ngIf="currentCustomerDetail">
            <h1 class="text-muted">Standortdetails</h1>
            <div>
                <label><strong>Standort:</strong></label> {{ currentCustomerDetail.location }}
                <div>
                    <label><strong>Ansprechpartner:</strong></label> {{ currentCustomerDetail.contactPerson }}
                </div>
                <div>
                    <label><strong>Ansprechpartner Email:</strong></label> {{ currentCustomerDetail.contactPersonEmail }}
                </div>
                <div>
                    <label><strong>Ansprechpartner Handynummer:</strong></label> {{ currentCustomerDetail.contactPersonMobile }}
                </div>
                <div *ngIf="currentCustomerDetail.maintenanceContract!=true">
                    <label><strong>Wartungsvertrag:</strong></label> Nein
                </div>
                <div *ngIf="currentCustomerDetail.maintenanceContract===true">
                    <label><strong>Wartungsvertrag:</strong></label> Ja
                </div>
                <div>
                    <label><strong>Wartungsintervall:</strong></label> {{ currentCustomerDetail.maintenanceInterval }}
                </div>
                <div>
                    <label><strong>KalenderWoche:</strong></label> {{ mystring }}
                </div>
                <div>
                    <label><strong>Notizfeld:</strong></label> {{ currentCustomerDetail.noteField }}
                </div>
            </div>

            <div class="btn-group-vertical">
                <button class="m-2 btn btn-lg btn-success btn-fix-size" routerLink="/building-add/{{ currentCustomer._id }}/{{ currentCustomerDetail._id }}">
                Gebäude hinzufügen
            </button>
                <button class="m-2 btn btn-lg btn-warning btn-fix-size" routerLink="/update-customer-detail/{{ currentCustomer._id }}/{{ currentCustomerDetail._id  }}">
                Kundendetail bearbeiten
            </button>
                <button class="m-2 btn btn-lg btn-danger btn-fix-size" (click)="deleteCustomerdetails()">
            Löschen
          </button>
            </div>


        </div>
    </div>

    <div class="col-md-3">
        <div *ngIf="buildings">
            <h1 class="text-muted">Gebäude</h1>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let building of buildings; let i = index" [class.active]="i == currentIndex1" (click)="retrieveDoors(building, i)">
                    {{ building.buildingName }}
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <div *ngIf="currentBuilding">
            <div class="btn-group-vertical">
                <button class="m-2 btn btn-lg btn-success btn-fix-size" routerLink="/door-add/{{ currentCustomer._id }}/{{ currentCustomerDetail._id }}/{{ currentBuilding._id }}"> 
        Türen hinzufügen
    </button>
                <button class="m-2 btn btn-lg btn-warning btn-fix-size" routerLink="/ground-plan-add/{{ currentCustomer._id }}/{{ currentCustomerDetail._id }}/{{ currentBuilding._id }}">
        Grundrisse anschauen
    </button>
                <button class="m-2 btn btn-lg btn-danger btn-fix-size" (click)="deleteBuilding()">
    Löschen
  </button>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div *ngIf="doors">
            <h1 class="text-muted">Türen</h1>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let door of doors; let i = index" [class.active]="i == currentIndex2" (click)="check(door, i)">
                    {{ door.number }}
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <div *ngIf="currentDoor">
            <h1 class="text-muted">Tür</h1>
            <div>
                <label><strong>TürNummer:</strong></label> {{ currentDoor.number }}
            </div>
            <div>
                <label><strong>Hinweis:</strong></label> {{ currentDoor.hint }}
            </div>

            <div>
                <label><strong>Funktion:</strong></label> {{ currentDoor.function }}
            </div>
            <div>
                <label><strong>TYP:</strong></label> {{ currentDoor.typ }}
            </div>
            <div>
                <label><strong>DIN:</strong></label> {{ currentDoor.din }}
            </div>
            <div>
                <label><strong>Liferanten AB:</strong></label> {{ currentDoor.supplierab }}
            </div>
            <div>
                <label><strong>Alte Projektnummer:</strong></label> {{ currentDoor.projectNbOld }}
            </div>
            <div>
                <label><strong>Liferanten AB Position:</strong></label> {{ currentDoor.supplierabPos }}
            </div>
            <div>
                <label><strong>Erstwartungsjahr:</strong></label> {{ currentDoor.yearFirstCheck }}
            </div>
            <button class="m-2 btn btn-lg btn-warning btn-fix-size">
                Tür bearbeiten
            </button>
            <button class="m-2 btn btn-lg btn-danger btn-fix-size">
            Löschen
          </button>
        </div>

    </div>


</div>