<div class="submit-form">

    <!--  <div *ngIf="!submitted"> -->

    <div class="form-group">
        <h3 class="text-muted">Türnummer</h3>
        <input [attr.disabled]="disabled ? '' : null" type="text" style="width:30%" class="form-control" id="number" [(ngModel)]="doorData.number" required name="number" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">Hinweis</h3>
        <input [attr.disabled]="disabled ? '' : null" class="form-control" style="width:30%" id="hint" [(ngModel)]="doorData.hint" required name="hint" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">Funktion</h3>
        <input [attr.disabled]="disabled ? '' : null" class="form-control" style="width:30%" id="function" [(ngModel)]="doorData.function" required name="function" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">TYP</h3>
        <input [attr.disabled]="disabled ? '' : null" class="form-control" style="width:30%" id="typ" [(ngModel)]="doorData.typ" required name="typ" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">DIN</h3>
        <input [attr.disabled]="disabled ? '' : null" class="form-control" style="width:30%" id="din" [(ngModel)]="doorData.din" required name="din" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">Liferanten AB</h3>
        <input [attr.disabled]="disabled ? '' : null" class="form-control" style="width:30%" id="supplierab" [(ngModel)]="doorData.supplierab" required name="supplierab" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">Alte Projektnummer</h3>
        <input [attr.disabled]="disabled ? '' : null" class="form-control" style="width:30%" id="projectNbOld" [(ngModel)]="doorData.projectNbOld" required name="projectNbOld" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">Liferanten AB Position</h3>
        <input [attr.disabled]="disabled ? '' : null" class="form-control" style="width:30%" id="supplierabPos" [(ngModel)]="doorData.supplierabPos" required name="supplierabPos" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">Erstwartungsjahr</h3>
        <input [attr.disabled]="disabled ? '' : null" class="form-control" style="width:30%" id="yearFirstCheck" [(ngModel)]="doorData.yearFirstCheck" required name="yearFirstCheck" />
    </div>



    <button [attr.disabled]="disabled ? '' : null" (click)="saveDoor()" class="btn btn-success btn-lg">Hinzufügen</button>
</div>




<div *ngIf="buttonCheck">
    <h2><br>Tür wurde erfolgreich hinzugefügt</h2>
    <button (click)="releaseInputs()" class="btn btn-secondary btn-lg mr-1">Neue Tür hinzufügen</button>
    <button routerLink="/costumers" class="btn btn-primary btn-lg">Startseite</button>
</div>