<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Schmitt-Türen</a>
        <div class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">Kunden</a>
            </li>
            <li class="nav-item">
                <a routerLink="costumers/add" class="nav-link">Kunde hinzufügen <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        </svg></a>
            </li>
            
            <li class="nav-item">
                <a routerLink="contract-for-app" class="nav-link">Auftrag für App</a>
            </li>
        </div>

    </nav>

    <div class="container-fluid">
        <!-- <div class="container-fluid" class="bg-image" style="
      background-image: url('../assets/img/pexels-jonathan-petersson-965878.jpg');
      height: 100vh;
    "> -->

        <router-outlet></router-outlet>
    </div>
</div>