<div *ngIf="currentCustomer" class="edit-form">
    <h1 class="display-3">Vertragsdetail</h1>

    <form>
        <div class="form-group">
            <h2>Kunde:
                <small class="text-muted"> {{ currentCustomer.name }}</small>
            </h2>

        </div>
        <div class="form-group">
            <h3 class="text-muted">Standort</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" style="width:40%" class="form-control" id="location" [(ngModel)]="customerDetail.location" required name="location" />
        </div>

        <div class="form-group">
            <h3 class="text-muted">Ansprechpartner</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" style="width:40%" class="form-control" id="contactPerson" [(ngModel)]="customerDetail.contactPerson" name="contactPerson" />
        </div>

        <div class="form-group">
            <h3 class="text-muted">Ansprechpartner Email</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" style="width:40%" class="form-control" id="contactPersonEmail" [(ngModel)]="customerDetail.contactPersonEmail" name="contactPersonEmail" />
        </div>

        <div class="form-group">
            <h3 class="text-muted">Ansprechpartner Handynummer</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" style="width:40%" class="form-control" id="contactPersonMobile" [(ngModel)]="customerDetail.contactPersonMobile" name="contactPersonMobile" />
        </div>


        <div class="form-group">
            <h3 class="text-muted">Wartungsvertrag</h3>
            <select [attr.disabled]="disabled ? '' : null" style="width:10%" class="form-select" type="text" class="form-control" id="maintenanceContract" [(ngModel)]="customerDetail.maintenanceContract" name="maintenanceContract" aria-label="Default select example">
                    
                    <option value=true>Ja</option>
                    <option value=false>Nein</option>
                  </select>
        </div>


        <div class="form-group">
            <h3 class="text-muted">Wartungsintervall(Liste halbjährlich/jährlich)</h3>
            <select [attr.disabled]="disabled ? '' : null" style="width:10%" class="form-select" type="text" class="form-control" id="maintenanceInterval" [(ngModel)]="customerDetail.maintenanceInterval" name="maintenanceInterval" aria-label="Default select example">
                
                <option value="halbjährlich">halbjährlich</option>
                <option value="jährlich">jährlich</option>
              </select>

        </div>

        <!-- <div class="form-group">
            <h3 class="text-muted">KalenderWoche</h3>
            <input [attr.disabled]="disabled ? '' : null" style="width:40%" type="text" class="form-control" id="calendarWeek" [(ngModel)]="customerDetail.calendarWeek" name="calendarWeek" />
        </div> -->

        <h3 class="text-muted">KalenderWoche</h3>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input [attr.disabled]="disabled ? '' : null" class="form-control" placeholder="yyyy-mm-dd" name="calendarWeek" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button [attr.disabled]="disabled ? '' : null" class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                    <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                  </svg>
                  </button>
                    </div>
                </div>
            </div>
        </form>


        <div class="form-group">
            <h3 class="text-muted">Notizfeld</h3>
            <input [attr.disabled]="disabled ? '' : null" style="width:40%" type="text" class="form-control" id="noteField" [(ngModel)]="customerDetail.noteField" name="noteField" />
        </div>

    </form>





    <button [attr.disabled]="disabled ? '' : null" type="submit" class="btn btn-success btn-lg" (click)="saveCustomerDetail()">
      Hinzufügen
    </button>
    <p>{{ message }}</p>
</div>

<div *ngIf="buttonCheck">
    <h2><br>Kundendetails wurde erfolgreich hinzugefügt</h2>
    <button (click)="releaseInputs()" class="btn btn-secondary btn-lg mr-1">Neues Kundendetail hinzufügen</button>
    <button routerLink="/costumers" class="btn btn-primary btn-lg">Startseite</button>
</div>

<div *ngIf="!currentCustomer">
    <br />
    <p>Hier ist etwas schief gelaufen...</p>
</div>