<div *ngIf="currentCustomer" class="edit-form">
    <h1 class="display-3">Vertragsdetail</h1>

    <form>
        <div class="form-group">
            <h2>Kunde:
                <small class="text-muted"> {{ currentCustomer.name }}</small>
            </h2>

        </div>
        <div class="form-group">
            <h3 class="text-muted">Standort</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" class="form-control" id="location" [(ngModel)]="currentDetails.location" required name="location" />
        </div>
        <div class="form-group">
            <h3 class="text-muted">Ansprechpartner</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" class="form-control" id="contactPerson" [(ngModel)]="currentDetails.contactPerson" name="contactPerson" />
        </div>
        <div class="form-group">
            <h3 class="text-muted">Ansprechpartner Email</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" class="form-control" id="contactPersonEmail" [(ngModel)]="currentDetails.contactPersonEmail" name="contactPersonEmail" />
        </div> 
        <div class="form-group">
            <h3 class="text-muted">Ansprechpartner Handynummer</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" class="form-control" id="contactPersonMobile" [(ngModel)]="currentDetails.contactPersonMobile" name="contactPersonMobile" />
        </div>
        <!-- <div class="form-group">
            <h3 class="text-muted">Wartungsvertrag</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" class="form-control" id="maintenanceContract" [(ngModel)]="currentDetails.maintenanceContract" name="maintenanceContract" />
            <button [attr.disabled]="disabled ? '' : null" class="btn btn-outline-secondary " type="button " (click)="yesButton() ">Ja</button>
            <button [attr.disabled]="disabled ? '' : null" class="btn btn-outline-secondary " type="button " (click)="noButton() ">nein</button>
        </div> -->
        <div class="form-group">
            <h3 class="text-muted">Wartungsvertrag</h3>
            <select [attr.disabled]="disabled ? '' : null" class="form-select" type="text" class="form-control" id="maintenanceContract" [(ngModel)]="currentDetails.maintenanceContract" name="maintenanceContract" aria-label="Default select example">
                
                <option value="true">Ja</option>
                <option value="false">Nein</option>
              </select>
        </div>
        <div class="form-group">
            <h3 class="text-muted">Wartungsintervall(Liste halbjährlich/jährlich)</h3>
            <select [attr.disabled]="disabled ? '' : null" class="form-select" type="text" class="form-control" id="maintenanceInterval" [(ngModel)]="currentDetails.maintenanceInterval" name="maintenanceInterval" aria-label="Default select example">
                
                <option value="halbjährlich">halbjährlich</option>
                <option value="jährlich">jährlich</option>
              </select>
        </div>
        <div class="form-group">
            <h3 class="text-muted">KalenderWoche</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" class="form-control" id="calendarWeek" [(ngModel)]="currentDetails.calendarWeek" name="calendarWeek" />
        </div>
        <div class="form-group">
            <h3 class="text-muted">Notizfeld</h3>
            <input [attr.disabled]="disabled ? '' : null" type="text" class="form-control" id="noteField" [(ngModel)]="currentDetails.noteField" name="noteField" />
        </div>


        <button (click)="updateCustomerDetail()" class="btn btn-success btn-lg">locationupdate</button>
    </form>
    
</div>


<div *ngIf="buttonCheck">
    <h2><br>Kunde wurde erfolgreich geändert</h2>
    <button routerLink="/costumers" class="btn btn-primary btn-lg">Startseite</button>
</div>
