<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchName()">
            Suche
          </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Kundenliste</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let customer of customers; let i = index" [class.active]="i == currentIndex" (click)="setActiveCustomer(customer, i)">
                {{ customer.name }}
            </li>
        </ul>


    </div>
    <div class="col-md-6">
        <div *ngIf="currentCustomer">
            <h4>Kunde</h4>
            <div>
                <label><strong>Name:</strong></label> {{ currentCustomer.name }}
            </div>
            <div>
                <label><strong>Adresse:</strong></label> {{ currentCustomer.billingAddress }}
            </div>
            <div>
                <label><strong>Ansprechpartner für Rechnung:</strong></label> {{ currentCustomer.contactPerson }}
            </div>
            <div>
                <label><strong>Ansprechpartner Email:</strong></label> {{ currentCustomer.email }}
            </div>
            <div>
                <label><strong>Ansprechpartner Handynummer:</strong></label> {{ currentCustomer.mobileNumber }}
            </div>

            <a class="m-3 btn btn-sm btn-success">
                Auftrag für App freigeben
              </a>



        </div>

    </div>