<div class="submit-form">
    <!--  <div *ngIf="!submitted"> -->
    <div class="form-group">
        <h3 class="text-muted">Gebäude</h3>
        <input [attr.disabled]="disabled ? '' : null" type="text" style="width:30%" class="form-control" id="buildingName" [(ngModel)]="buildingData.buildingName" required name="buildingName" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">Ansprechpartner</h3>
        <input [attr.disabled]="disabled ? '' : null" type="text" style="width:30%" class="form-control" id="contactPerson" [(ngModel)]="buildingData.contactPerson" required name="contactPerson" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">Adresse</h3>
        <input [attr.disabled]="disabled ? '' : null" type="text" style="width:30%" class="form-control" id="adresse" [(ngModel)]="buildingData.adresse" required name="adresse" />
    </div>

    <div class="form-group">
        <h3 class="text-muted">Grundriss</h3>
        <input  [attr.disabled]="disabled ? '' : null" type="file" (change)="onFileChanged($event)" #fileInput>
        <button [attr.disabled]="disabled ? '' : null" (click)="fileInput.click()">Select File</button>
        <button  [attr.disabled]="disabled ? '' : null" (click)="onUpload()">Upload!</button>
    </div>


    <button [attr.disabled]="disabled ? '' : null" (click)="saveBuilding()" class="btn btn-success btn-lg">Hinzufügen</button>
</div>

<div *ngIf="buttonCheck">
    <h2><br>Gebäude wurde erfolgreich hinzugefügt</h2>
    <button (click)="releaseInputs()" class="btn btn-secondary btn-lg mr-1">Neues Gebäude hinzufügen</button>
    <button routerLink="/costumers" class="btn btn-primary btn-lg">Startseite</button>
</div>




<!-- <div *ngIf="buttonCheck">
    <h2><br>Kunde wurde erfolgreich hinzugefügt</h2>
    <button (click)="releaseInputs()" class="btn btn-secondary btn-lg mr-1">Neuen Kunden hinzufügen</button>
    <button routerLink="/costumers" class="btn btn-primary btn-lg">Startseite</button>
</div> -->